[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
robotframework-seleniumlibrary = "*"
pyautogui = "*"
pillow = "*"
pywinauto = "*"
robotframework-sikulilibrary = "*"
webdrivermanager = "*"
robotframework-databaselibrary = "*"
pyodbc = "*"
pymysql = "*"
pymssql = "*"
robotframework-requests = "*"
robotframework-jsonlibrary = "*"
rpaframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
